body,html{   
    height:100%;
}
body{
    background:url(../img/back.png);
    background-size:cover;
}

body > header{
    position:relative; top:0px; left:0px; height:auto;
}
body > header > nav{
    position:relative; 
    top:0px; 
    left:0px;
}

body > header > aside{
    position:relative; top:0;
}
body > header > aside > article{
    position:absolute;
    top:0px;
    height:auto;
    width:100%;
}

body > section{
    position:relative; top:0px;
}

body > section,body > header > aside{
    background:url(../img/back.png);
    background-size:cover;    
    top:0;
    left:-100%;
    width:100%;
    transform:translate3d(0,0,0);
    -webkit-transform:translate3d(0,0,0);    
}

body > header > aside{
    width:50%;
}

aside{    
    background:black;
    transition: 0.4s;     
    width:50%;
    top:8%;    
    z-index:1000;
    color:white;    
}
aside.pagecenter{
    transform:translate3d(200%,0,0);
    -webkit-transform:translate3d(200%,0,0);
}
aside .list-group{
    margin:0px;
}

aside .list-group-item {
    background-color: #095f9d;
    border:2px solid #fff569;
    margin:5px 0 5px -12px;
    color:white;
    border-radius:0px !important;
    border-bottom-right-radius:1em !important;
}

aside a.list-group-item:hover, a.list-group-item:focus {
    color:black;
    text-decoration: none;
}

.pagecenter{
    transform:translate3d(100%,0,0);
    -webkit-transform:translate3d(100%,0,0);
}
.pageleft{
    transform:translate3d(-100%,0,0);
    -webkit-transform: translate3d(-100%,0,0);
}
.pageright{
    transform:translate3d(100%,0,0);
    -webkit-transform: translate3d(100%,0,0);
}
.alertavisible{
    transition: 0.8s;   
    transform:translate3d(20%,0,0);
    -webkit-transform: translate3d(20%,0,0);
}
.alertainvisible{
    transform:translate3d(-100%,0,0);
    -webkit-transform: translate3d(-100%,0,0);
}

#alerta{
    position:absolute;
    top:30%;        
    width:70%;
    min-height: 24%;
    transition: 0.8s;
    border-radius: 1em;
    padding: 10px 0;
    
    
}

#alerta nav{    
    color:white;
    border-radius: 1em 1em 0 0;
}
#alerta nav a{
    color:white;
}
#alerta nav a:hover{
    text-decoration: none;
}
#alerta #msj{
    color:white;
}
#alerta .row{
    margin:0px;
}

body > header > nav{   
    background:url(../img/top-bar.png); 
    background-size:auto 100%;
    background-repeat: repeat-x;
    border:2px solid #fff569;
    border-radius:1em 1em 0 0;
    min-height:8%; 
    width:100%; 
    color:white;
}

body > section > article{
    position:absolute;
    top:0px;
    transition: 0.8s;    
    width:100%;
}