 /* 
    Document   : style
    Created on : 14-oct-2014, 21:11:36
    Author     : Jonathan
    Description:
        Purpose of the stylesheet follows.
*/
@font-face {
    font-family: 'antonio';    
    src: url('../fonts/antonio.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'title';    
    src: url('../fonts/title.ttf');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family:antonio;
}
.row{
    margin-left:0px;
    margin-right:0px;
}

h1{
    font-family: 'titulos';
}

#wrapper,.wrapper {
	position: absolute;
	width: 100%;
	height: 92%;
	overflow: hidden;

	/* Prevent native touch events on Windows */
	-ms-touch-action: none;

	/* Prevent the callout on tap-hold and text selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	/* Prevent text resize on orientation change, useful for web-apps */
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

#scroller {
	position: absolute; 
	/* Prevent elements to be highlighted on tap */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
        width:100%;
    	/* Put the scroller into the HW Compositing layer right from the start */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}

/*Estilos propios*/
.box{
    padding:4% 8%;
    font-weight:bold;
    text-transform: uppercase;
}
.box a{
    color:black;
}
.box nav, .box > div .col-xs-2{
    background:#7f6000;
    color:white;
}
.box > div{
    background:white;
    padding:10px;
}

.active{
    background:#428bca;
    color:white;
}
.active2{
    background:#ffd966;
}

.active a{
    color:white;
}
.list-group-item{
    color:black;
}

.rate{display:inline-block;}
.rate,.rate li{margin:0px; padding:0px;}
.rate li{
    float:left;
    list-style:none;
}
.rate li, .star{
    background:url('../img/stars.png') no-repeat;
    width:16px;
    height:16px;
}
.rate .act, .star{
    background-position:0 -16px;
}

.rate li:hover{
    background-position:0 -16px;
}

.star{
    display:inline-block;
}

aside ul, aside li{
    margin:0px;
    padding:0px;
    list-style: none;
}

aside li a{
    color:white;
}

aside li a:hover{
    text-decoration:none;
}

aside li:hover{
    background:white;
    
}

aside li:hover a{
    color:black;
}

.titleblue{
    background:#8faadc; padding:10px 20px; color:white; text-align:center; font-weight:bold;
}

.btn-orange{
    background:url(../img/button-orange.png);
    background-repeat: repeat-x;
    color:white;        
    border:2px solid #fff569;    
}

.btn-blue{
    background:url(../img/button-blue.png);
    background-repeat: repeat-x;
    color:white;        
    border:2px solid #fff569;    
}

.btn-radius{
    border-top-right-radius: 1em !important;
    border-top-left-radius: 1em !important;
    padding:0px;
}

.btn-radiusb{
    border-bottom-right-radius: 1em !important;
    border-bottom-left-radius: 1em !important;

}

.fucsia{
    background:#ee0863;
    color:white;
}

.blue{
    background:#095f9d;
    color:white;
}

.blueopace{
    background:#003d64;
}

.lightblue{
    background:#00afe9;
}

.yellow{
    background:#fff569;
    color:black;
}

.verde{
    background:green;
    color:white;
    border:0px;
}

.border{
    border:2px solid #fff569;
}

.btn-orange,.btn-blue{
        padding:0px;
}


.list-group{
    margin:0px;
}

.top-menu{
    background:url(../img/top-bar.png); 
    background-size:auto 100%;
    background-repeat: repeat-x;
    border:2px solid #fff569;
    color:white;
}

#home .input-group-addon{
    border-top-left-radius:1em;
    border-bottom-left-radius:1em;
    border:2px solid #fff569;
    border-right:none;
    background:url(../img/top-bar.png); 
    background-size:auto 100%;
    background-repeat: repeat-x;
    color:white;
}
#home .form-control{
    border-top-right-radius:1em;
    border-bottom-right-radius:1em;
    border:2px solid #fff569;
    border-left: none;
}

.backtienda{
    background:url(../img/back-tienda.jpg);
    background-size:cover;
}

.backmulti{
    background:url(../img/back-multi.png);
    background-size:cover;
}

#how li{
    padding:20px 0;
}

#home{
    
}

/* The animation code */
@keyframes monedawinanimate {
    from {
        width:10%; 
        transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
    }
    to {
        width:100%; 
        transform:rotate(360deg);
        transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -webkit-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
    }
}


.monedawin{    
    -webkit-animation:monedawinanimate 2s forwards;
    -o-animation:monedawinanimate 2s forwards;
    -ms-animation:monedawinanimate 2s forwards;
    -moz-animation:monedawinanimate 2s forwards;
    width:100%;     
}
