<div class="row well border" style="margin:0; background:url(img/back-cuenta.jpg); color:white; background-size:cover;">
    <div align="center">Mis avatares</div>
    <div class="list-group">
        <a href="#" class="list-group-item">Basicos</a>
    </div>
</div>

<script>
    $.post(url+'get_avatars_category',{id:localStorage.id},function(data){
        if(data.status=='success'){
            data = data.avatars;
            $("#avatars .list-group").html('');
            for (i in data){
                $("#avatars .list-group").append('<a href="javascript:showavatar('+i+')" class="list-group-item">'+data[i].nombre+'</a>');
            }
        }
    });

function showavatar(id){
    $.post(url+'get_avatars',{id:id},function(data){
        if(data.status=='success'){
            data = data.avatars;
            console.log(data);
            $("#showavatar .list").html('');
            for (i in data){
                console.log(i);
                $("#showavatar .list").append('<a style="color:white" href="javascript:display_avatar(\''+data[i][0]+'\',\''+data[i][1]+'\')"><div class="col-xs-4" align="center"><img style="width:100%" src="'+path+"/avatars/"+data[i][0]+'"><br/>'+data[i][1]+'</div></a>');
            }
        }
    });
    
    document.location.href="#showavatar";
}

function display_avatar(img,nombre){
    document.location.href="#display_avatar";
    $("#display_avatar #avatar").attr('src',path+"/avatars/"+img);
    $("#display_avatar #avatarname").html(nombre);
}
</script>