<div class="row" style="position:relative;">
    <div class="col-xs-6 fucsia border" style="margin-top:10px; padding:10px 0; text-align:center"> 
        Configuración
    </div>
</div>
<div class="row well border" style="margin:0; padding-bottom:0px; background:url(img/back-cuenta.jpg); color:white; background-size:cover;">
    <div class="row blue" style="color:white;" align="center">
        Selecciona un idioma
        <div class="list-group" style="background:transparent">
            <a href="#" class="list-group-item" style="background:transparent; color:white; border:none">Español</a>
            <a href="#" class="list-group-item" style="background:transparent; color:white; border:none">English</a>
            <a href="#" class="list-group-item" style="background:transparent; color:white; border:none">Chino</a>
        </div>
    </div>    
    <div class="row">
        <div class="col-xs-3">
            Musica <br/> <input type="checkbox" checked>
        </div>
        <div class="col-xs-6">

        </div>
        <div class="col-xs-3">
            Sonido <br/> <input type="checkbox" checked>
        </div>
    </div>
</div>