<form id="setperfilform" onsubmit="return set_perfil()">
<div class="row" style="position:relative;">
    <div class="col-xs-6" style="margin-top:10px;" align="center">
        <label for="fotoperfil"><img src="img/vacio.png" id="fotoperfilmin" class="fotoperfilmin" style="width:50%"></label>
        <input type="file" name="foto" id="fotoperfil" style="display:none;">
    </div>
    <div class="col-xs-6 fucsia border" style="border-radius: 1em 1em 0 0; position:absolute; bottom:0px;right:20px"> 
        <div class="col-xs-6">GENERAL RANKING</div>
        <div class="col-xs-6"><img src="img/ranling.png" style="width:41px;"></div>
        <div class="col-xs-12 rankworld"></div>
    </div>
</div>
<div class="row well border" style="margin:0; padding-bottom:0px; background:url(img/back-cuenta.jpg); color:white; background-size:cover;">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" name="nombre" class="nombre form-control" id="nombre" placeholder="Nombre">
        </div>
        <div class="form-group">
          <label for="pais">Pais</label>
          <select id="pais" name="pais" class="form-control"></select>
        </div>
        <div class="form-group row">
	  <div class="col-xs-4">
	          <label for="edad">Edad</label>
	          <input type="number" name="edad" class="edad form-control" id="edad" placeholder="Edad">
	  </div>	
	  <div class="col-xs-8">
	          <label for="edad">Genero</label>
		  <select class="form-control" name="genero" id="genero">
			<option value="M">Masculino</option>
			<option value="F">Femenino</option>
		  </select>
	  </div>
        </div>
        <div class="form-group">
          <label for="emailperfil">Email</label>
          <input type="email" name="email" class="email form-control" id="emailperfil" placeholder="Email">
        </div>
        <input type="hidden" name="id" id="perfilid" value="">
        <div align="right"><button type="submit" style="border:0px; padding:0px;"><img src="img/edit.png" style="width:100px;"></button></div>            
</div>
</form>
<script type="text/javascript">
//Traer datos dle perfil 
function get_perfil(){
$("#fotoperfilmin").attr('src','img/vacio.png');
$.post(url+'get_perfil',{id:localStorage.id},function(data){
    if(data.status=='success'){
        data = data.data;
        $(".nombre").val(data.nombre);
        n = data.nombre;
        n = n.split(' ');
        $(".nombre").html(n[0]);
        $("#pais").val(data.pais);
        $(".pais").val(data.pais);
        $(".pais").html(data.pais);
        $(".edad").val(data.edad);
        $(".edad").html(data.edad);
        $(".email").val(data.email);
        $(".email").html(data.email);
        $("#genero").val(data.sexo);
        $(".rankworld").html(data.posicion);        
        $(".rankcontinental").html(data.continental);
        $(".rankregional").html(data.regional);
        $("#perfilid").val(localStorage.id);
        $(".monedas").html(data.monedas);
        $(".fotoperfilmin").attr('src',data.foto);
        $(".paisname").html(data.paisname);
        $(".puntos").html(data.puntos);
        
        continente = data.continente;
        if(continente!=null)
        $(".continente").attr('src','img/'+data.continente+".png");
        else
        $(".continente").attr('src',"img/blanco.png");
    }
});
}
get_perfil();
function set_perfil(){
    alerta('<img src="img/loading.gif" style="width:100%">','Actualizando perfil');
    if($("#nombre").val()!='' && $("#pais").val()!='' && $("#emailperfil").val()!='')
    {        
        $(".fotoperfilmin").attr('src','img/vacio.png');
        sendData(document.getElementById('setperfilform'),'set_perfil',function(data){
            alerta('Perfil actualizado','Mensaje');
            get_perfil();
        },function(data){
            alerta('Ocurrio un error al actualizar','Mensaje');
        })
    }
    return false;
}

$("#fotoperfil").change(function(){set_perfil();});

//Fill paises
$.getJSON('js/paises.json',{},function(data){   
   str = '';
   for(i in data){
       str+='<option value="'+data[i].id+'">'+data[i].nombre+'</option>';
   }
   $("#pais").html(str);
});
</script>
