<div class="row well border" style="margin:0; background:url(img/back-cuenta.jpg); color:white; background-size:cover;">
    <img id="avatar" style="width:100%;">
    <div id="avatarname" align="center"></div>
</div>