<div class="border blue" style="margin:20px 0 0; min-height:40px; padding:10px 0;"> 
    <img id="whowinimg" src="img/winner.png" style="width:100%">
    <div class="list-group" id="listwinplayers">
        <div class="verde list-group-item row" style="padding:10px 0; background: #35b942;" align="center"><div class="col-xs-9">Nombre</div><div class="col-xs-3">Rank</div></div>            
    </div>
</div>
<div class="row">
        <div class="col-xs-6" style="padding:0 3px 0 0;">
		<a href="javascript:initmultiplayer()" class="btn btn-orange btn-radiusb" style="width:100%; position:relative; z-index:1002;  background:#35b942">
		    Jugar de nuevo
		    <img src="img/playagain.png" style="width:17%; margin:0 10%">
		</a>
	</div>	
	<div class="col-xs-6" style="padding:0 0 0 3px;">
		<a href="#menu" class="btn btn-blue btn-radiusb" style="width:100%; position:relative; z-index:1001;" type="button">
		    Menu
		    <img src="img/menu.png" style="width:21%">
		</a>
	</div>
</div>
<div class="row" style="margin-top:-10px;">
	<div class="col-xs-6" style="padding:0 3px 0 0;">
		<a href="#resumen" class="btn btn-orange btn-radiusb" style="width:100%; position:relative; z-index:1002;">
		    Resumen
		    <img src="img/review.png" style="width:27%; margin:0 10%">
		</a>
	</div>
	<div class="col-xs-6" style="padding:0 0 0 3px;">
		<a href="#world" class="btn btn-blue btn-radiusb" style="width:100%; position:relative; z-index:1001; background:#ff1658;" type="button">
		    Clasificación
		    <img src="img/mundo.png" style="width:21%">
		</a>
	</div>
</div>
