<div class="row well border blueopace" style="margin:0; color:yellow; padding:10px;">
    <p align='center'>Como jugar</p>
    <div style='width:100%; height:400px; overflow: auto; background:white; color:black;'>
        <ol>
            <li>Elige un idioma, configura tu cuenta, comprueba que tus datos sean correctos, y sube tu foto.</li>

            <li>Elige el modo "Single Player" para jugar tú sol@. Aparecerá uno de los avatares disponibles y... ACCIÓN! Tómate una foto con alguien lo mas parecido al avatar o disfrázate tú mism@ teniendo en cuenta ojos, pelo, nariz, boca e indumentaria... utiliza el truco si estás desesperad@! si te da vergüenza pedirle a alguien que se tome un selfie contigo, hazle una foto sin que se entere... pero shhhhh. Tu Selfie será puntuada por otros jugadores y en función de tu puntuación subirás puestos en el ranking mundial.</li>

            <li>Elige el modo "Multi Player" para jugar contra otros jugadores. Busca contrincantes por nombre de usuario, dirección de e-mail, o de forma aleatoria. Una vez comience el juego, éste constará de 5 rondas en las que tendrás que tomarte un selfie con personas lo más parecidas a tus avatares, o bien podrás disfrazarte tú mism@ para conseguir la mayor puntuación teniendo en cuenta ojos, pelo, nariz, boca e indumentaria... también podrás utilizar el truco. Al finalizar cada ronda te tocará puntuar a uno de tus rivales al azar, y sé honesto, puesto que tú también serás puntuado por uno de ellos. El jugador que obtenga mejor puntuación conseguirá una recompensa en monedas.</li>

            <li>Consigue monedas gratis  valorando nuestra App, invitando a tus amigos a Selfreak, puntuando el juego de otros usuarios o viendo un vídeo. Si lo prefieres también podrás comprar monedas en nuestra coin-shop.</li>

            <li>Canjea tus monedas para comprar tiempo o cambiar tu avatar durante el juego, o bien para comprar los paquetes temáticos de avatares en nuestra avatar-shop.</li>

            <li>Comprueba tus avatares disponibles pinchando en "Mis Avatares"</li>

            <li>Conviértete en el mejor Selfer con Selfreak!!</li>
        </ol>
    </div>
</div>