 <div class="row">
    <div class='col-xs-12' align="center" style="margin-top:10%;">
        <img src='img/logo.png' style='width:60%;'>
    </div>
</div>
<div class="row" style="margin-top:5%; padding:20px;">
      <form id="formlogin" onsubmit="return login()" class="form-inline">
        <div class="form-group">                      
          <div class="input-group">
            <div class="input-group-addon">User</div>
            <input type="text" name="user" placeholder="User" id="user" class="form-control">                        
          </div>
        </div>
        <div class="form-group">                      
          <div class="input-group">
            <div class="input-group-addon">Email</div>
            <input type="email" name="email" placeholder="Email" id="email" class="form-control">
          </div>
        </div>
        <div class="col-xs-12" align="center" style="margin-top:8%">
            <button class="btn btn-default top-menu" style="border-radius:1em;">Conectar</button>
        </div>
      </form>

      <div class="form-group" style="margin-top:20px;">                      
        <a href="#" class="input-group">
            <div class="input-group-addon" style="padding:0px;"><img src="img/sharefacebook.jpg" style="width:50px; border-radius:1em 0 0 1em;"></div>
            <div class="form-control">Conectate con facebook</div>
        </a>
      </div>
      <div class="form-group" style="margin-top:20px;">                      
        <a href="#" class="input-group">
            <div class="input-group-addon" style="padding:0px;"><img src="img/sharegoogle.jpg" style="width:50px; border-radius:1em 0 0 1em;"></div>
            <div class="form-control">Conectate con google</div>
        </a>
      </div>
</div>

<script>
    if($("#home").html()!=$("#login").html() && localStorage.id==undefined){
        $("#home").html($("#login").html());
    }
</script>