<div class="row" align="center" style="margin:10px 0">
    <div class="col-xs-6" style="padding:0 3px 0 0">      
	    <a href="#morecoins" class="btn btn-orange btn-radius" style="width:100%; position:relative; z-index:1000;">
		Comprar 
		<img src="img/monedas.png" style="width:17%">
	    </a>    
    </div>
    <div class="col-xs-6" style="padding:0 0 0 3px">
	    <a href="#world" class="btn btn-blue btn-radius" style="width:100%;" type="button">
		Clasificación
		<img src="img/mundo.png" style="width:18%">
	    </a>      
    </div>
</div>
<div class="row" align="center" style="margin:10px 0">    
    <a href="javascript:takeselfiemono()" class="col-xs-6" style="padding:0 3px 0 0;"><img src="img/oneplayer.jpg" style="width:100%; border-radius:10px 0 0 10px;"></a>
    <a href="javascript:initmultiplayer()" class="col-xs-6" style="padding:0 0 0 3px;"><img src="img/multiplayer.jpg" style="width:100%; border-radius:0 10px 10px 0;"></a>    
</div>
<div class="row" align="center" style="background: url(img/free_coins.png) no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0); margin:10px 0; border-radius:0 0 1em 1em; text-align:left; padding-bottom: 2px; padding-top:3px;">
    <a style='color:white; text-decoration: none' href='#monedasgratis'>
        <div class="col-xs-12" style="padding:6px">
		&nbsp;
        </div>
    </a>
</div>
<div class="row" align="center" style="background: url(img/invite.png) no-repeat; background-size:100%; height: 37px; margin: 0;">
    <div class="col-xs-5" style="padding:8px 0px 0 35px">
	&nbsp;
    </div>
    <div class="col-xs-7" align="right" style="padding:0px; padding-right:5px; position:relative">        
            <a href="#"><img src="img/sharefacebook.jpg" style="width:24%; position:absolute; top:2px; left:24%;"></a>
            <a href="#"><img src="img/whatsapp.png" style="width:14%; position:absolute; top:3px; left:55%;"></a>
            <a href="#"><img src="img/sharemail.png" style="width:14%; position:absolute; top:3px; left:79%;"></a>
            
    </div>
</div>

<div class="row" align="" style="margin:10px 0">
	<div class="col-xs-6" style="padding:0 3px 0 0;">
		<a href="#tienda" class="btn btn-blue btn-radiusb" style="width:100%; position:relative; z-index:1002;">
		    Tienda
		    <img src="img/car.png" style="width:22%; margin:0 10%">
		</a>
	</div>
	<div class="col-xs-6" style="padding:0 0 0 3px;">
		<a href='#how' class="btn btn-blue btn-radiusb" style="width:100%; background:#00a651; position:relative; z-index:1001;" type="button">
		    Como jugar
		    <img src="img/help.png" style="width:21%">
		</a>
	</div>
</div>
<script>
    if($("#home").html()!=$("#menu").html() && localStorage.id!=undefined){
        $("#home").html($("#menu").html());
    }
</script>