<!--<div id="storelistwrapper">
	<div>                                    
            <div class="row" style="margin:10px 0;">
                <a href="javascript:rankselfiemono()">
                    <div style="background:url(img/free.png) no-repeat; color:white; background-size:100%; min-height: 57px; position:relative;">
                        <div style="position:absolute; top:9%; right:10%;">Rankea jugadores</div>
                    </div>
                </a>
            </div>
            <div class="row" style="margin:10px 0;">
                <a href="javascript:rankselfiemono()">
                    <div style="background:url(img/free.png) no-repeat; color:white; background-size:100%; min-height: 57px; position:relative;">
                        <div style="position:absolute; top:9%; right:10%;">Rankea la app</div>
                    </div>
                </a>
            </div>
            <div class="row" style="margin:10px 0;">
                <a href="javascript:rankselfiemono()">
                    <div style="background:url(img/free.png) no-repeat; color:white; background-size:100%; min-height: 57px; position:relative;">
                        <div style="position:absolute; top:9%; right:10%;">Ve un video</div>
                    </div>
                </a>
            </div>
	</div>
</div>-->
<div class="border backmulti" style="margin:20px 0; padding:30px 0; color:white">
    <p align='center'>Consigue monedas gratis</p>
    <div class='row' style='margin-top:30px;'>
        <div class='col-xs-4' style='padding:0 5px;'>
            <div style="background:url(img/invita.png)no-repeat; color:blue; text-align:center; position:relative; padding:15px 0; background-size:100% 100%; width:100%; height:110px;">
                Invita
                <a href="#"><div style="width:35%; position:absolute; bottom:4px; left:-1%;">&nbsp;</div></a>
                <a href="#"><div style="width:35%; position:absolute; bottom:4px; left:33%;">&nbsp;</div></a>
                <a href="#"><div style="width:35%; position:absolute; bottom:4px; left:67%;">&nbsp;</div></a>
            </div>
        </div>
        <div class='col-xs-4' style='padding:0 5px;'>
            <a href="javascript:rankselfiemono()" style='color:white;'>                
                <div style="background:url(img/rank.png)no-repeat; text-align:center; position:relative; padding:15px 0; background-size:100% 100%; width:100%; height:110px;">                
                  Califica Selfies
                </div>
            </a>
        </div>
        <div class='col-xs-4' style='padding:0 5px;'>
            <a href="#" style='color:blue;'>                
                <div style="background:url(img/video.png)no-repeat; text-align:center; position:relative; padding:15px 0; background-size:100% 100%; width:100%; height:110px;">                
                  Ve un video
                </div>
            </a>
        </div>
    </div>
</div>