<div id="storelist" class="container border backtienda">                                    
    <div class="row" style="margin:10px 0;">
        <a href="#monedasgratis">
            <div style="background:url(img/free.png) no-repeat; color:white; background-size:100%; min-height: 57px; position:relative;">
                <div style="position:absolute; top:9%; right:10%;">Monedas Gratis</div>
            </div>
        </a>
    </div>
</div>
<script>
function load_store(){
    b = ['img/1000.png','img/500.png','img/100.png','img/50.png'];
    $.post(url+'get_store',{},function(data){
        if(data.status=='success'){
            for(i in data.list){               
                $("#storelist > div:first-child").after('<div class="row" style="margin:10px 0;">\n\
                <a href="#monedasgratis">\n\
                    <div style="background:url('+b[i]+') no-repeat; color:white; background-size:100%; min-height: 57px; position:relative;">\n\
                        <div style="position:absolute; top:18%; left:38%;">'+data.list[i].titulo+'</div>\n\
                        <div style="position:absolute; top:28%; right:6%;">'+data.list[i].precio+'</div>\n\
                    </div>\n\
                </a>\n\
            </div>');
            }            
        }
    })
}
load_store();
</script>
