<!--<div class="row">
    <div class="col-xs-12" style="background:#8faadc"><i class="glyphicon glyphicon-time"></i> <b>Tiempo de juego: </b><span id="reloj"></span> <b>Ronda: </b><span id="ronda"></span></div>
    <div class="col-xs-12 alert alert-danger"><a href="javascript:out_of_game()"><div class="col-xs-12"><i class="glyphicon glyphicon-remove-circle"></i> Salir de la partida</div></a></div>
    <div class="col-xs-12 alert alert-warning" style="margin-top: -20px;"><a href="javascript:more_time()"><div class="col-xs-12"><i class="glyphicon glyphicon-time"></i> -5 Mas tiempo</div></a></div>
    <ul class="list-group" id="listplayers">
        <li class="list-group-item row active2"><div class='col-xs-9'><b>Jugadores</b></div><div class='col-xs-3'><b>Puntos</b></div></li>        
    </ul>
</div>
<script>
    $("#sendphotobutton a").attr('href','javascript:sendphoto()');
</script>-->
<div class="border blue" style="margin:20px 0; min-height:40px; padding:10px 0;"> 
    <p align="center">Jugadores listos para comenzar</p>
    <div class="list-group" id="listplayers">
        <div class="verde list-group-item row" style="padding:10px 0;" align="center"><div class="col-xs-9">Nombre</div><div class="col-xs-3">Rank</div></div>            
    </div>
    <div align="center" style="padding-top:10px">
        Round: <span id="ronda"></span>
    </div>
</div>