<div class="container">
    <a href="javascript:takeselfiemono()"><div style="margin:20px 0;" class="col-xs-12 btn btn-default">Tomar selfie</div></a>
    <a href="javascript:rankselfiemono()"><div class="col-xs-12 btn btn-default">Rankear selfies</div></a>
</div>