<script src='js/iscroll.js'></script>
<div class="wrapper">
    <div id="politica" class="well" style="margin:20px;">
        
    </div>
</div>
<script type="text/javascript">
var myScroll;
function loaded () {
	myScroll = new IScroll('.wrapper',{probeType: 3,mouseWheel: true});
}

loaded();
$("#politica").html('<img src="img/loading.gif" style="width:100%">');
$.post(url+'get_page',{id:1},function(data){
    if(data.status=='success'){
        $("#politica").html(data.page);
    }
});
</script>
