<div class="row well border" style="margin:0; padding-bottom:0px; background:url(img/back-cuenta.jpg); color:white; background-size:cover;">
    <div align="center">Esperando que termine el <span style="font-family:title; font-size:30px; color:yellow;"> round <span class="round"></span></span></div>
    <div style="background:white; width:100%; height:400px; margin:20px 0;"></div>
</div>