<div class="border backmulti" style="margin:20px 0; color:white">
    <div class="row" align="center">
        <div class="col-xs-6 nombre" style="padding:10px;">
            JONCAR
        </div>
        <div class="col-xs-6" style="padding:10px;">
            Debes calificar
        </div>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col-xs-6" style="background: white; padding:0;">
            <img id="rankavatar" src="img/avatar.png" style="width:100%;">            
        </div>
        <div class="col-xs-6" style="padding:0 0 0 7px;" align="right">
            <img id="rankselfie" src="img/vacio.png" style="width:100%;">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 avatarname" align="center"></div>
        <div class="col-xs-6 rankname blue border" align="center" style="border-radius:0 0 1em 1em;"></div>
    </div>
    <div class="row" style="padding:15px 0;">
        <div class="row">
            <div class="col-xs-7" style="padding:0px;">                
                <div class="row"><div class="col-xs-5">Ojos: </div><ul class="rate col-xs-7"><li></li><li></li><li></li><li></li><li></li></ul></div>
                <div class="row"><div class="col-xs-5">Cabello </div><ul class="rate col-xs-7"><li></li><li></li><li></li><li></li><li></li></ul></div>
                <div class="row"><div class="col-xs-5">Nariz </div><ul class="rate col-xs-7"><li></li><li></li><li></li><li></li><li></li></ul></div>
                <div class="row"><div class="col-xs-5">Boca: </div><ul class="rate col-xs-7"><li></li><li></li><li></li><li></li><li></li></ul></div>
                <div class="row"><div class="col-xs-5">Atuendo: </div><ul class="rate col-xs-7"><li></li><li></li><li></li><li></li><li></li></ul></div>                
            </div>
            <div class="col-xs-5" style="padding:0px;" align="center">
               <a id="sendrankButton" href="javascript:sendRank()">
                    <div class="btn btn-success" id="sendranking" style="margin-top:10px" >
                        Envialo
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>