<div class="border backmulti" style="margin:10px 0;  margin-bottom:0px; padding:15px 0 9px 0; border-radius:1em; color:white;">
    <div class="row">
        <div align="center" class="col-xs-12" style="color:white;">
            Tu resultado en la partida
        </div>    
    </div>
    <div class="row" style="margin-top:5px; position:relative;">
        <div id="roundresumen_1" class="col-xs-4" style='padding:0px;'>
            Round 1            
                <div class="resumenrank">
                    Ojos <span class="star"></span> <span class='r 0'>0</span><br/>
                    Cabello <span class="star"></span> <span class='r 1'>0</span><br/>
                    Naris <span class="star"></span> <span class='r 2'>0</span><br/>
                    Boca <span class="star"></span> <span class='r 3'>0</span><br/>
                    Atuendo <span class="star"></span> <span class='r 4'>0</span><br/>
                </div>
        </div>
        <div id="roundresumen_2" class="col-xs-4" style='padding:0px;'>
            Round 2
                <div class="resumenrank">
                    Ojos <span class="star"></span> <span class='r 0'>0</span><br/>
                    Cabello <span class="star"></span> <span class='r 1'>0</span><br/>
                    Naris <span class="star"></span> <span class='r 2'>0</span><br/>
                    Boca <span class="star"></span> <span class='r 3'>0</span><br/>
                    Atuendo <span class="star"></span> <span class='r 4'>0</span><br/>
                </div>
        </div>
        <div id="roundresumen_3" class="col-xs-4" style='padding:0px;'>
            Round 3
                <div class="resumenrank">
                    Ojos <span class="star"></span> <span class='r 0'>0</span><br/>
                    Cabello <span class="star"></span> <span class='r 1'>0</span><br/>
                    Naris <span class="star"></span> <span class='r 2'>0</span><br/>
                    Boca <span class="star"></span> <span class='r 3'>0</span><br/>
                    Atuendo <span class="star"></span> <span class='r 4'>0</span><br/>
                </div>
        </div>
    </div>
</div>