<div class="row well border" style="margin:0; background:url(img/back-cuenta.jpg); color:white; background-size:cover;">
    <div align="center" id="title">Mis avatares</div>
    <div class="row list">
        
    </div>
</div>