
<div class="border backmulti" style="margin:10px 0;  margin-bottom:0px; padding:15px 0 9px 0; border-radius:1em; color:white;">
    <div class="row">
        <div class="col-xs-12" style="color:white;">
            Tomate un selfie con alguien parecido al avatar
        </div>    
    </div>
    <div class="row" style="margin-top:5px; position:relative;">
        <div class="timetakeselfie" style="position: absolute; bottom: -9px; background: url(img/tiempo.png) no-repeat scroll 0% 0% / cover transparent; z-index: 10000; height: 40px; width: 90px; left: 35%; padding: 20px 37px;">60</div>
        <div class="col-xs-6" style="padding:0 3px 0 0;">
            <div>
                <div style="background:white">
                    <img id="imgavatar" src="img/avatar.png" style="width:100%;">
                </div>
                <div id="avatarname" align="center">Juliet</div>
            </div>
        </div>
        <div class="col-xs-6" style="padding:0 0 0 3px;" id="selfie" align="right">            
            <div><img id="imgselfie" src="img/vacio.png" style="width:100%;"></div>
        </div>
    </div>
</div>
<div style="margin:10px; margin-top:-5px;">
    <div class="row" style="margin-top:5px;">
        <div class="col-xs-5" style="padding:0 10px 0 0;" align="center">
            <div class="row">
                <a href="javascript:change_avatar()" id="changeavatar" style="padding:6px; border-radius:0 0 1em 1em; z-index:2; position:relative;" class="btn btn-warning btn-orange">
                    Cambiar -5 <img src="img/moneda.png" style="width:20%">
                </a>
            </div>
            <div class="row">
                <a href="javascript:more_time()" id="moretime">
                    <img src="img/buytime.png" style="width:100%;">
                </a>
            </div>
        </div>
        <div class="col-xs-7" style="padding:0;">            
            <div class="row" style="margin-top:0px; position:relative; z-index:2" id="takephotobutton">
                <a href="javascript:takefoto()" class="btn btn-success blue" style="padding:6px; border:0px; border-radius:0 0 1em 1em;  position:relative;">
                    <div class="col-xs-2 fucsia" align="center">
                        1
                    </div>
                    <div class=" col-xs-6">
                        Tomar foto
                    </div>
                    <div class="col-xs-2" align="center">
                        <i class="glyphicon glyphicon-camera"></i>
                    </div>
                </a>
            </div>
            <div class="row" style="margin-top:-5px; position:relative; z-index:1" id="sendphotobutton">
                 <a href="javascript:sendphoto()"  class="btn btn-success blueopace" style="padding:6px; border:0px; border-radius:0 0 1em 1em;">
                    <div class="col-xs-2 fucsia" align="center">
                        2
                    </div>
                    <div class=" col-xs-6">
                        Enviar foto
                    </div>
                    <div class="col-xs-2" align="center">
                        <img src="img/tomate.png" style="width:16px;">
                    </div>
                </a>                
            </div>
        </div>
    </div>
</div>