<div class="container border backtienda">
	<div class="row" style="margin:10px 0;">
		<a href="#monedasgratis">
                    <div style="background:url(img/eastern.jpg) no-repeat; color:white; background-size:100%; min-height: 60px; position:relative;">
                        <div style="position:absolute; top:18%; left:38%;"></div>
                        <div style="position:absolute; top:28%; right:6%;">15.99</div>
                    </div>
                </a>
	</div>

	<div class="row" style="margin:10px 0;">
		<a href="#monedasgratis">
                    <div style="background:url(img/history.png) no-repeat; color:white; background-size:100%; min-height: 60px; position:relative;">
                        <div style="position:absolute; top:18%; left:38%;"></div>
                        <div style="position:absolute; top:28%; right:6%;">15.99</div>
                    </div>
                </a>
	</div>

	<div class="row" style="margin:10px 0;">
		<a href="#monedasgratis">
                    <div style="background:url(img/rockstar.png) no-repeat; color:white; background-size:100%; min-height: 60px; position:relative;">
                        <div style="position:absolute; top:18%; left:38%;"></div>
                        <div style="position:absolute; top:28%; right:6%;">15.99</div>
                    </div>
                </a>
	</div>

	<div class="row" style="margin:10px 0;">
		<a href="#monedasgratis">
                    <div style="background:url(img/movies.png) no-repeat; color:white; background-size:100%; min-height: 60px; position:relative;">
                        <div style="position:absolute; top:18%; left:38%;"></div>
                        <div style="position:absolute; top:28%; right:6%;">15.99</div>
                    </div>
                </a>
	</div>

	<div class="row" style="margin:10px 0;">
		<a href="#monedasgratis">
                    <div style="background:url(img/religion.png) no-repeat; color:white; background-size:100%; min-height: 60px; position:relative;">
                        <div style="position:absolute; top:18%; left:38%;"></div>
                        <div style="position:absolute; top:28%; right:6%;">15.99</div>
                    </div>
                </a>
	</div>
</div>
