<div class="row well border" style="margin:0; padding-bottom:0px; background:url(img/back-cuenta.jpg); color:white; background-size:cover;">    
    <div align="center" style="color:yellow; padding:20px 0;">
        <div>Ganastes</div>
        <img id="animationcoin" src="img/monedafin.png">
        <div><span id="woncoins">10</span> Monedas</div>
    </div>
</div>