<div class="border blue" style="margin:20px 0;">
    <div class="row" align="center">
        <div class="col-xs-6 yellow nombre" style="padding:10px;">
            JONCAR
        </div>
        <div class="col-xs-6" style="padding:10px; border-radius:1em; position: relative">
            WORLD RANK <img src="img/mundo.png" style="width:19%; position:absolute; right:10px; top:8%;">
        </div>
    </div>
    <div class="row lightblue" style="margin-top:20px;">
        <img src="img/europa.png" style="width:100%;" class="continente">
    </div>
    <div class="row fucsia" style="padding:15px 0;">
        <div class="col-xs-6" align="center">
            Tu puntuación total:
        </div>
        <div class="col-xs-5 col-xs-offset-1 puntos">
            440
        </div>
    </div>
    <div class="row" style="background:white; color:#003d64" align="center">
        <div class="col-xs-3">
            <img src="img/global.png" style="width:100%"><br/>GLOBAL
            <div style="color:#ee0863; font-size:20px; padding:0 0 10px 0" class="rankworld">
                7022
            </div>
        </div>
        <div class="col-xs-offset-1 col-xs-3">
            <img src="img/continental.png" style="width:100%"><br/>CONTINENTAL
            <div style="color:#ee0863; font-size:20px; padding:0 0 10px 0" class="rankcontinental">
                7022
            </div>
        </div>
        <div class="col-xs-offset-1 col-xs-3">
            <img src="img/continental.png" style="width:100%"><br/><span class="paisname"></span>
            <div style="color:#ee0863; font-size:20px; padding:0 0 10px 0" class="rankregional">
                7022
            </div>
        </div>
    </div>
</div>