 /* 
    Document   : style
    Created on : 14-oct-2014, 21:11:36
    Author     : Jonathan
    Description:
        Purpose of the stylesheet follows.
*/
.row{
    margin-left:0px;
    margin-right:0px;
}
body,html{
    height:100%;
}
body{
    background:#333;    
    color:white;
}

a,a:hover,a:focus,a:visited{
    color:white;
    text-decoration: none;
}

a.btn{
    color:black;
}

.well{
    color:black;
}

header img{
    width:100%;
}

nav{
    background:#101010;
    padding:10px 5px;
}

section > .btn{
    width:100%;
    margin:10px 0;
}

.nav > li > a,.nav > li > a:hover, .nav > li > a:focus {
    background-color: #eee;
    text-decoration: none;
    color:black;
}

.loading{
    position:fixed;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
}

.mascara{
    width:100%;
    height:100%;
    background:rgba(0,0,0,.8);    
}

.loadicon{
    top:15%;
    left:0;  
    position:fixed;
}
.loadicon img{
    width:100%;
}