<img src="{{foto}}" style="width:100%">
<div style="background:rgba(0,0,0,.5); top:0px; left:0px; width:100%; position:absolute;">
    <a href="javascript:accion('pause');" class='btn' style='font-size:40px; color:white;'><i class="glyphicon glyphicon-pause"></i></a>    
    <a href="javascript:accion('play');" class='btn' style='font-size:40px; color:white;'><i class="glyphicon glyphicon-play"></i></a>    
</div>
<div style="overflow-y:auto">        
    <ul class="nav nav-pills nav-stacked" role="tablist">
        <li ng-repeat="l in data" hm-hold="download(l.url,l.nombre)">
            <button id="m{{l.id}}" style="width:100%;" class="btn btn-default btn-lg" ng-click="setAudio(l.url,l.id)">{{l.nombre}}  <i class="glyphicon"></i></button>            
        </li>
    </ul>
</div>
<audio id="musica" src=""></audio>
<script>
    function accion(accion){
        
        var reproductor = document.getElementById('musica');
        switch(accion){
            case 'pause':                                 
               reproductor.pause();
            break;
            case 'play':          
               if($("#musica").attr('src')=='')
               {
                   $("#musica").attr('src',lista[0].url);                   
               }               
               reproductor.play();
            break;
        }
    }
    
    $("#musica").bind('ended', function(){
        k = 0;
        for(i in lista)
        {
            if(lista[i].url==$(this).attr('url'))
            k = i;  
        }
        if(lista[k+1]!==undefined){
            $("#musica").attr('src',lista[k+1].url);
            accion('play');
        }
    });
</script>