<ul class="nav nav-pills nav-stacked" role="tablist">
    <li>
        Ordenar Por: <br/>
        <select class="form-control" ng-model="ordenar">            
            <option value="nombre">Nombre</option>            
            <option value="autor">Por Autor</option>            
            <option value="fecha_album">Fecha de Album</option>
        </select>
    </li>
    <li ng-repeat="l in list | orderBy:ordenar">
        <a href="#/disco/{{l.id}}">            
            <img src="{{l.foto}}" style="width:10%; vertical-align:middle"> {{l.nombre}}
        </a>    
    </li>
</ul>