<div style="overflow-y:auto">
    <img src="{{data.foto}}" style="width:100%">
    <div class="well">
        <b>{{data.titulo}}</b><br/>
        <b>Fecha: </b>{{data.fecha}}<br/>
        <b>Lugar: </b>{{data.direccion}}<br/>
    </div>
    <div id="mapa" style="width:100%; height:300px;"></div>
    {{cargarMapa(data.mapa)}}
</div>