<form role="form" id="sendevent" onsubmit="return validate()">
  <div class="form-group">
      <label for="foto">Foto</label>
      <input type="file" id="file" name="foto" placeholder="Ingresa un evento">
  </div>
  <div class="form-group">
      <label for="nombre">Titulo del evento</label>
      <input type="text" class="form-control" name="titulo" id="titulo" placeholder="Ingresa un titulo de evento">
  </div>
  <div class="form-group">
      <label for="titulo">Descripcion</label>
      <textarea class="form-control" name="descripcion" id="descripcion" placeholder="Descripcion del evento"></textarea>
  </div>
  <div class="form-group">
      <label for="titulo">Fecha</label>
      <input type="text" class="form-control" name="fecha" id="fecha" placeholder="dd/mm/YYYY">      
  </div>
  <div class="form-group">
      <label for="titulo">Direccion</label>
      <textarea class="form-control" name="direccion" id="direccion" placeholder="Direccion del evento"></textarea>
  </div>
  <button type="submit" class="form-control btn btn-default">Enviar evento</button>
</form>
<script>
    var active = 0;
    var err = 0;
    function validate(){   
        active = 0;
        $("#sendevent input").each(function(){
            if($(this).val()=='')err=1;
            active++;
            if(active==3 && err==0)ok();
            else if(active==3)alert("Debe completar los datos antes de enviarlos");
        });
    }
    
    function ok(){
        var data = new FormData(document.getElementById('sendevent'));
        $(".loading").show();
        $.ajax({
            url:url+"sendevent",
            data:data,
            method:"post",
            cache:false,
            contentType:false,
            processData:false,
            
        }).always(function(data){
            $(".loading").hide();
            alert("Datos enviados con exito");
        });
    }
</script>