<ul class="nav nav-pills nav-stacked" role="tablist">
    <li ng-repeat="l in list">
        <a href="#/eventos/{{l.id}}">            
            <img src="{{l.foto}}" style="width:10%; vertical-align:middle"> {{l.titulo}}
        </a>    
    </li>
</ul>