<a class="btn btn-default btn-lg" href="#/generos">ESCUCHAR MUSICA ONLINE</a>
<a class="btn btn-default btn-lg" href="#/music_off">ESCUCHAR MUSICA OFFLINE</a>
<a class="btn btn-default btn-lg" href="#/eventos">VER EVENTOS</a>
<a class="btn btn-default btn-lg" href="#/eventos_add">AÑADIR EVENTOS</a>
<script>$(".loading").hide();</script>