<div style="background:rgba(0,0,0,.5); width:100%;">
    <a href="javascript:accion('pause');" class='btn' style='font-size:40px; color:white;'><i class="glyphicon glyphicon-pause"></i></a>    
    <a href="javascript:accion('play');" class='btn' style='font-size:40px; color:white;'><i class="glyphicon glyphicon-play"></i></a>    
</div>
<div style="overflow-y:auto">        
    <ul class="nav nav-pills nav-stacked" role="tablist">
        <li ng-repeat="l in list">
            <button id="{{l.name}}" style="width:100%;" class="btn btn-default btn-lg" ng-click="setAudio(l.name)">{{l.name}}  <i class="glyphicon"></i></button>            
        </li>
    </ul>
</div>
<audio id="musica" src=""></audio>

<script>
    $(document).ready(function(){
        $(".nav").html('');
        window.requestFileSystem(LocalFileSystem.PERSISTENT, 0, function(fs) {                                                
            fs.root.getDirectory("proyectosonidero",{create:true},function(directory){
                var directoryReader = directory.createReader();
                directoryReader.readEntries(function(entri){                                
                   for(i in entri){
                       name = entri[i].name;
                       name = name.replace(/_/g,' ');
                       $(".nav").append('<li> <button id="'+entri[i].name+'" style="width:100%;" class="btn btn-default btn-lg">'+name+' <i class="glyphicon"></i></button>            </li>');
                   }
                   lista = entri;
                   $(".nav button").click(function(){
                        musica = $("#musica");
                        var name = $(this).attr('id');
                        name = name.replace(/.mp3/g,"");                             
                        musica.attr('src',"file:///mnt/sdcard/proyectosonidero/"+name+".mp3");
                        music = document.getElementById('musica');
                        music.play();
                        $(".nav i").removeClass('glyphicon-play');
                        $("#"+$(this).attr('id')).parent('li').find('i').addClass('glyphicon-play');
                   });
                   
                });
            });
        });
    });
    
    function accion(accion){
        
        var reproductor = document.getElementById('musica');
        switch(accion){
            case 'pause':                                 
               reproductor.pause();
            break;
            case 'play':          
               if($("#musica").attr('src')=='')
               {
                   var name = lista[0].name;
                   name = name.replace(/.mp3/g,"");                    
                   $("#musica").attr('src',name);                   
               }               
               reproductor.play();
            break;
        }
    }
</script>